<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Loading...</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Premium HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="premium website templates, premium html5, premium template, premium bootstrap, premium website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou|Zhi+Mang+Xing&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/my-style.css">


	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div :style="{backgroundImage: 'url(' + profileurl + ')'}" class="profile-thumb"></div>
							<h1><span>{{name}}</span></h1>
							<h3><span>{{briefintro}}</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li v-for="el in contact">
										<!-- <a :href="el.link" v-if="el.type==='instagram'" target="_blank"><i class="icon-instagram" ></i></a> -->
										<a :href="el.link" v-if="el.type==='git'" target="_blank"><i class="icon-github" ></i></a>
										<a :href="el.link" v-if="el.type==='bilibili'" target="_blank"><i class="icon-instagram" ></i></a>
									</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Name:</span><span class="second-block">{{name}}</span></li>
						<li><span class="first-block">E-mail:</span><span class="second-block">{{email}}</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>{{hi}}</h2>
					<p>{{content}}</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience</h3></div>
						</li>
						<li class="animate-box" v-for="(el,index) in 工作经历" :class="index%2===0?'timeline-unverted':'timeline-inverted'">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">{{el.职业名称}}</h3>
									<span class="company">{{el.公司名称}} - {{el.时间}}</span>
								</div>
								<div class="timeline-body">
									<p>{{el.介绍}}</p>
								</div>
							</div>
						</li>
						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education background</h3></div>
						</li>
						<li class=" animate-box"  v-for="(el,index) in education" :class="index%2===0?'timeline-unverted':'timeline-inverted'">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">{{el.Level}}</h3>
									<span class="company">{{el.SchoolName}} - {{el.Time}}</span>
								</div>
								<div class="timeline-body">
									<p>{{el.Intro}}</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>


	<div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Personal Hobbies</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center" v-for="(el,index) in ability">
						<div class="feature-left" style="width:100%">
							<!-- <span class="icon">
								<i class="icon-paintbrush"></i>
							</span> -->
							<div class="feature-copy">
								<h3>{{el.name}}</h3>
								<p>{{el.intro}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Programming Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center" v-for="el in skills">
					<div class="chart" :data-percent="el.percent"><span><strong>{{el.name}}</strong>{{el.percent}}%</span></div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Work</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box" v-for="el in work">
					<a :href="el.link" class="work" :style="'background-image: url('+el.pic+');'">
						<div class="desc">
							<h3>{{el.name}}</h3>
							<span>{{el.intro}}</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Validate JS -->
	<script src="js/jquery.validate.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="js/jquery.easypiechart.min.js"></script>

	<!-- Main -->
	<script src="js/main.js"></script>
	<!-- 配置相关 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="config.js"></script>

	</body>
</html>

